<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title> Messages</title>
     <script src="https://code.jquery.com/jquery-latest.js">
     
     $('#postMessage').submit(function(event){ event.preventDefault();

     var $form = $(this),
      message = $form.find("input[name='message']").val(),
      url = $form.attr('action');
     $ajax({
          type: 'POST',
          url: url,
          data : JSON.stringify({message:message}),
          contentType: 'application/json',
          dataType: 'json',
          success :function() {location.reload();}
     });
});
     </script>
     
</head>
<body>
     <form action="/messages", id="postMessage">

     <input type="text" name="message" placeholder='Post Message'>

     <input type="submit" value="Post">

</form>
     {% if messages %}
          {% for message in messages%}
            <p>{{ message.get('message') }} </p>
          {% endfor %}
     {% else %}
           <p> No Messages</p>
    {% endif %}
</body>
</html>