<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title> Messages</title>
     <script src="https://code.jquery.com/jquery-latest.js">
     </script>
     <script src="./static/static.js"></script>
     
</head>
<body>
     <form action="/messages", id="postMessage">

     <input type="text" name="message" placeholder='Post Message'>

     <input type="submit" value="Post">

</form>
<div id='messageContainer'>

</div>
     {% if messages %}
          {% for message in messages%}
            <p>{{ message.get('message') }} </p>
          {% endfor %}
     {% else %}
           <p> No Messages</p>
    {% endif %}
</body>
</html>